Source: php-geoip
Section: php
Priority: optional
Maintainer: Guillaume Plessis <gui@dotdeb.org>
Build-Depends: debhelper (>= 9),
               dh-php,
               libgeoip-dev (>= 1.4.0),
               php7.0-dev
Standards-Version: 3.9.6
Homepage: http://pecl.php.net/package/geoip/

Package: php7.0-geoip
Architecture: any
Depends: ${misc:Depends},
         ${php:Depends},
         ${shlibs:Depends}
Recommends: geoip-database
Description: GeoIP module for PHP
 This PHP module allows you to find the location of an IP address -
 City, State, Country, Longitude, Latitude, and other information as
 all, such as ISP and connection type.
 .
 For more info, please visit Maxmind's website:
 http://www.maxmind.com/
